<h1>Enter three sides to see what kind of triangle it makes</h1>
<form action='/results_page' method='post'>
  <label for="newSide1">Enter side 1</label>
  <input id="newSide1" name="newSide1" type="text">
  <label for="newSide2">Enter side2</label>
  <input id="newSide2" name="newSide2" type="text">
  <label for="newSide3">Enter side3</label>
  <input id="newSide3" name="newSide3" type="text">
  <button type="submit">Submit</button>
</form>
